body{
    font-family: Roboto;
    font-size: 14px;
}
.container{  
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.hero{
    padding: 200px 0;
}
.features {
    padding: 94px 0;
}
.work-section{
    padding-bottom: 94px;
}
.team {
    padding: 94px 0;
}
.footer{
    padding: 60px 0;
}
